.clear_button,
.clear_button:focus,
.clear_button:hover,
.clear_button:active {
    color: inherit;
    font: inherit;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.alert_block_container{
    z-index: 9999;
    height: 98%;
    width: 100%;
    position: absolute;
    top: 2vh;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.alert {
    padding: 4%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(53,54,58);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: white;
    font-size: large;
    border-radius: 8px;
    height: 20%;
    width: 80%;
    top: 40%;
    left: 10%;
}

.max_out {
    height: 100%;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.max_out_red {
    height: 100%;
    width: 30%;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: rgba(83, 54, 58, 1);
}
.max_out_red:hover {
    background-color: rgba(123, 54, 58, 1);
    cursor: pointer;
    text-shadow: 0px 0px 7px rgba(255, 255, 255, 0.4)
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}